.counter-container{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.count-display{
  font-size: 7.5em;
  margin-bottom: 50px;
  margin-top: 0;
}
.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 5px;
  background-color: green;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}
.counter-button:hover{
  background-color: greenyellow;
}